<nav class="navbar navbar-default<%= params[:controller].include?('admin') ? ' navbar-fixed-top' : '' %>" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pioneers</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to("加入创业", jobs_path, class: "scroll") %></li>
        <li><%= link_to("创业公司", startups_path, class: "scroll") %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% unless current_user %>
          <li><%= link_to("注册", new_user_registration_path) %></li>
          <li><%= link_to("登录", new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Hi!, <%= current_user.email %>
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to("我收藏的职位", "#") %></li>
              <li><%= link_to("我收藏的公司", "#") %></li>
              <% if current_user.admin? %>
                <li><%= link_to("后台管理", admin_startups_path) %></li>
                <li class="divider"></li>
              <% end %>
              <li><%= link_to("退出", destroy_user_session_path, method: :delete) %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
